.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  width: 356px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  cursor: pointer;
  border-radius: 55px;
}
.yellow {
    border: none;
    background-color: #FFE44D;
}
.white {
    border: 1px solid #CFD8DC;
    background-color: white;
}
